.repair-brand{

  &__services{

    &::after{
      content: "";
      position: absolute;
      right: 0%;
      top: 10%;
      width: 24px;
      height: 72px;
      z-index: 1;
      background: linear-gradient(270deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
  }
  &__list{
    @media (min-width: $medium){
        flex-wrap: wrap;
        flex-direction: row;
        gap:24px;
        row-gap: 16px;
    }
    @media (min-width: $large){
        flex-wrap: wrap;
        flex-direction: row;
        gap:32px;
    }
  }
  &__category{
    width: 240px;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 240px;
    height: 72px;
    border-radius: 6px;
    border: 1px solid $decoration;
    background-color: $categoryColor;

    @media (min-width: $medium){
        display: none;
    }
    
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
        @media (min-width: $medium){
            display: flex;
        }
    }
    &:nth-child(7),
    &:nth-child(8){
        @media (min-width: $large){
            display: flex;
        };
    }
  }

  &__logo{
    position: absolute;
    left:16px;
  }
}