.show-all-button{
  cursor: pointer;
  margin-top:24px;
  
  font-weight: 500;
  font-size: 16px;
  line-height:24px;

  display: flex;
  align-items: center;

  transition-duration: $animSpeed ;

  &:hover{
    background-color: #FFFFFF;
    border-radius: 30%;
  }

  &__icon{
      transition: 0.3s;
      
      width: 24px;
      height: 24px;
      padding: 0;
      margin-right: 8px;
  }
  
}