.repair-tech{

  &__services{
    &::after{
      content: "";
      position: absolute;
      right: 0%;
      top: 10%;
      width: 24px;
      height: 160px;
      z-index: 1;
      background: linear-gradient(270deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
  }

  &__list{
    display: flex;

    @media (min-width: $medium){
      flex-wrap: wrap;
      flex-direction: row;
      gap:24px;
      row-gap: 16px;
    }
    @media (min-width: $large){
      flex-wrap: wrap;
      flex-direction: row;
      gap:32px;
    }
  }

  &__category{
    width: 240px;

    display: flex;
    position: relative;
    min-width: 240px;
    height: 160px;

    border-radius: 6px;
    border: 1px solid $decoration;
    background-color: $categoryColor;
    
    @media(min-width:$medium){
      display: none;
    }
    
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){
      @media (min-width: $medium){
        display:block
      }
    }
    &:nth-child(4){
      @media (min-width: $large){
        display:block
      }
    }
  }

  &__category-button{
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-image: url("../img/go.svg");
  }

  &__text{
    color: $mainText;
    font-size: 16px;
    
    position: absolute;
    top:16px;
    left:16px;
  }

}