
.swiper-pagination{
  top: 70%;
  @media (min-width: $medium){
      display: none;
  }
}
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: $swiperBulletColor;
  opacity: 0.5;
}
.swiper-pagination-bullet-active{
  opacity: 1;
}
