.send-button{
  background-color: #FF3E79;
  border-radius: 16px;
  
  height: 32px;
  width: 136px;

  align-items: center;
  display: flex;

  &__text{
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;

    margin-left: 24px;

  }
}