.send-button{
  position: relative;

  transition-duration: $animSpeed;
  
  background-color: $buttonColor;
  border-radius: 16px;
  
  height: 32px;
  width: 136px;

  align-items: center;
  display: flex;

  &:hover{
    transform: scale(1.1);
    opacity: 0.5;
  }

  &__text{
    font-size: 12px;
    text-transform: uppercase;
    color: $blockColor;
    font-weight: bold;

    margin-left: 24px;

  }

  &__icon{
    width: 24px;
    height: 24px;

    background-image: url('../img/dropdown.svg');
  }
}