.repair-pricelist {

  &__services{

    &::after{
      content: "";
      position: absolute;
      right: 0%;
      top: 10%;
      width: 24px;
      height:100%;
      z-index: 1;
      background: linear-gradient(270deg, $bgColor 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }
  }
  &__list{

    display: flex;

    @media (min-width: $medium){
      flex-wrap: wrap;
      flex-direction: column;
    }

  }

  &__category{
    width: 260px;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    border-radius: 6px;
    background-color: $categoryColor;

    @media(min-width: $medium){
      width: auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:nth-child(1){
        &::after{
          display: none;
        }
      }
      &::after{
        content: '';
        height: 1px;
        width: 97%;
        display: inline-block;
        position: absolute;

        top: 0;
        
        background-color: $categoryDivider;
      }
    }
  
    &--title{
      display: none;

      @media (min-width: $medium){
        display: flex;
      }
    }
  }

  &__col-title{
    font-size: 14px;

  }

  &__text{
    display: flex;

    color: rgba(27, 28, 33, 1);
    font-size: 14px;
    
    margin-bottom: 16px;

    @media (min-width: $medium) {
      margin-bottom: 0;

      &:nth-child(2){
        flex: 2;
      }
      &:nth-child(6),
      &:nth-child(4){
        flex: 1;
      }

    }

    &--title{
      color: $text;
      font-size: 16px;
      background-color: $bgColor;
      
      @media (min-width: $medium){
        display: none;
      }
    }
  }

  &__category-button{
    position: absolute;
    right: 16px;
    bottom: 16px;

    width: 120px;

    @media (min-width: $medium){
      position: static;
    }
  }

  &__footer{
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;

    padding: 0 16px;
    padding-bottom: 40px;

    @media(min-width: $medium){
      width: 420px;
      padding: 0 24px;
      padding-bottom: 47px;
    }
    
    @media(min-width: $large){
      padding: 0 32px;
      padding-bottom: 50px;
    }
  }
  &__footer-item{
    font-size: 14px;
  }
  &__footer-button{

    position: relative;
    font-size: 16px;
    color: $mainText;
    font-family: "TT Lakes";

    &::before{
      position: absolute;
      right: -20px;
      content: "";
      width: 24px;
      height: 24px;

      background-image: url('../img/comOfferArrow.svg');
    }
  }
}