$bgColor: #F8F8F8;
$text: #7E7E82;
$blockColor: #FFFFFF;
$mainText: #1B1C21;
$buttonColor: #FF3E79;
$modalAgreement: #FF3E79;
$buttonTextColor: #FFFFFF;
$borderColor: #B8FFEC;
$beforeTitle: #41F6D7;
$inputBorderColor: #EAEAEA;
$inputTextColor: #B5B6BC;
$decoration: rgba(234, 234, 234, 1);
$categoryColor: rgba(255, 255, 255, 1);
$categoryDivider: #EAEAEA;
$swiperBulletColor: rgba(181, 182, 188, 1);
$pageButtonFontColor: rgba(126, 126, 130, 1);
$activeButtonBg: rgba(255, 255, 255, 1);
$activeButtonBorder: rgba(184, 255, 236, 1);
$footerBefore: #D9FFF5;

$shadow: rgba(14, 24, 80, 0.2);

$animSpeed: 300ms;

$small: 320px;
$smallSecond: 360px;
$medium: 768px;
$large: 1366px;