.close-button:hover,
.burger-button:hover,
.search-button:hover,
.call-button:hover,
.chat-button:hover,
.check-button:hover,
.repair-button:hover,
.profile-button:hover{
  transition-duration: $animSpeed;
  transform: scale(1.1);
  opacity: 0.5;
}

.repair-button{
  background-image: url("../img/int-but/repair.svg");
}
.profile-button{
  background-image: url("../img/int-but/profile.svg");
}
.check-button{
  background-image: url("../img/int-but/checkstatus.svg");
}
.chat-button{
  background-image: url("../img/int-but/chat.svg");
}
.call-button{
  background-image: url("../img/int-but/call.svg");
}
.search-button{
  background-image: url("../img/int-but/search.svg");
}
.burger-button{
  background-image: url("../img/int-but/burger.svg");
}
.close-button{
  background-image: url("../img/int-but/close.svg");
}
